{% load static %}

<header class="bg-white shadow-sm lg:static lg:overflow-y-visible py-2">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="relative flex justify-between lg:gap-8 xl:grid xl:grid-cols-12">
      <div
        class="flex md:absolute md:inset-y-0 md:left-0 lg:static xl:col-span-2"
      >
        <div class="flex flex-shrink-0 items-center">
          <a href="{% url 'org:settings:api_keys' %}">
            <img
              class="block h-8 w-auto"
              src="{% static '/img/logo--square--colour.svg' %}"
              alt="Climacrux LLC"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
