{% extends "registration/base.html" %}

{% block title %}Register | CDR Platform{% endblock title %}

{% block content %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form action="{% url 'auth:register' %}" method="post">

    {% csrf_token %}

    {{ form }}

    <input type="submit" value="Sign Up">
    <input type="hidden" name="next" value="{{ next }}">

</form>

<p><a href="{% url 'auth:login' %}">Login</a></p>

{% endblock content %}
