{% extends 'core/org/settings/base.html' %}

{% block body %}

{% include 'core/org/settings/layout/navigation.html' %}

<h1>api-keys</h1>

{% if key %}
<h2>Your API Key:</h2>

<code>{{key}}</code>

<p>
  <strong>Note:</strong> Your API key will only be visible now, this one time.
  Please take a note of it now
</p>
{% endif %}

<p></p>

{% if form %}
<form action="" method="post">
  {% csrf_token %}

  {{ form }}

  {% include 'components/forms/submit.html' with btnValue="Create Key" %}
</form>
{% endif %}

<h2>Production API keys</h2>

<ul>
  {% for key in api_keys_prod %}
  <li>Name: {{key.name}} | Key prefix: <code>{{ key.prefix }}</code></li>

  {% empty %}

  <li>No production API keys</li>
  {% endfor %}
</ul>

<h2>Test API keys</h2>

<ul>
  {% for key in api_keys_test %}
  <li>Name: {{key.name}} | Key prefix: <code>{{ key.prefix }}</code></li>
  {% empty %}
  <li>No test API keys</li>
  {% endfor %}
</ul>

{% endblock body %}
